<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bittya.crastinus">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.bittya.crastinus"
            android:enabled="true"
            android:exported="false"/>
        <meta-data android:name="AA_DB_NAME" android:value="dev_crastinus_main" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value=
            "com.bittya.crastinus.daos.CategoryModel,
            com.bittya.crastinus.daos.ToDoModel,
            com.bittya.crastinus.daos.UserModel"
        />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>